# This is a basic workflow to help you get started with Actions

name: Flutter CI

# Controls when the workflow will run
on:

  # Triggers the workflow on pull for the "main" branch
  pull_request:
    branches:
      - master
      - development
      - dev_bhargav
      - dev_kamlesh
      - dev_ios

  # Triggers the workflow on push for the "main" branch
  push:
    branches:
      - master
      - development
      - dev_bhargav
      - dev_kamlesh
      - dev_ios

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  # This workflow contains a single job called "build"
#  build-android:
#
#    # The type of runner that the job will run on
#    runs-on: ubuntu-latest
#
#    # Steps represent a sequence of tasks that will be executed as part of the job
#    steps:
#      - name: Debug Info
#        run: |
#          echo "Branch: ${{ github.ref }}"
#          echo "Event Name: ${{ github.event_name }}"
#          echo "GitHub Event: ${{ toJson(github.event) }}"
#
#      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
#      - name: Checkout
#        uses: actions/checkout@v4
#
#      # Set Up Java JDK
#      - name: Set up JAVA JDK
#        uses: actions/setup-java@v3
#        with:
#          distribution: 'temurin'
#          java-version: '18'
#          cache: 'gradle'
#
#      # Flutter environment for use in GitHub Actions
#      - uses: subosito/flutter-action@v2
#        with:
#          flutter-version: '3.16.5'
#          channel: 'stable'
#          cache: true
#
#      # Get dependencies of flutter
#      - run: flutter pub get
#      - run: flutter analyze .
#
#      # Only build if the branch is 'master'
#      - if: github.ref == 'refs/heads/master'
#        run: flutter build apk --no-tree-shake-icons
#
#      # Only upload the build if the branch is 'master'
#      - if: github.ref == 'refs/heads/master'
#        name: Upload the build
#        uses: actions/upload-artifact@v4
#        with:
#          name: build
#          path: build/app/outputs/apk/release/app-release.apk
#
##      # ================= IOS PART
##      - name: Build iOS app
##        run: flutter build ios --release
##
##      - name: Archive iOS build
##        run: tar -czvf ios-build.tar.gz build/ios/Runner.app
##
##      - name: Upload iOS build
##        uses: actions/upload-artifact@v4
##        with:
##          name: ios-build
##          path: ios-build.tar.gz
#
#      # ================= END OF IOS PART
#
#      # Slack Integration STEP1 : Upload build to Slack
#      # Only execute these steps if the branch is 'master'
#      - if: github.ref == 'refs/heads/master'
#        name: Upload build to slack
#        uses: MeilCli/slack-upload-file@v3
#        with:
#          slack_token: ${{secrets.SLACK_BOT_TOKEN}}
#          channel_id: ${{ secrets.SLACK_CHANNEL_ID }}
#          file_path: build/app/outputs/apk/release/app-release.apk
#          initial_comment: 'New release app available. Please install it.'
#
#      # Slack Integration STEP2  : Sending notification on slack channel
#      - name: Slack Notification
#        uses: rtCamp/action-slack-notify@v2
#        with:
#          status: ${{ job.status }}
#          text: "Build ${{ job.status }} for commit ${{ github.sha }} in branch ${{ github.ref }}."
#
#        env:
#          SLACK_CHANNEL: flutter-cicd
#          SLACK_TITLE: Post title
#          SLACK_USERNAME: nrup.parikh
#          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
#          SLACK_MESSAGE: "${{ github.event.workflow_run.head_commit.message }}"

  build-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout for IOS
        uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.5'
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get

#      - name: Install Xcode dependencies
#        run: sudo xcode-select --switch /Applications/Xcode_15.x.app

      - name: Build iOS app
        run: flutter build ios --release --no-codesign

      - name: Handle Code Signing
        run: |
            # Your code signing configuration and steps go here
            # For example, copying certificates and provisioning profiles

      - name: Archive iOS build
        run: tar -czvf ios-build.tar.gz build/ios/Runner.app

      - name: Upload iOS build
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: ios-build.tar.gz