# This is a basic workflow to help you get started with Actions

name: Flutter CI

# Controls when the workflow will run
on:
  pull_request:
    branches: ['master']

  # Triggers the workflow on push for the "main" branch
  push:
    branches: ['master']

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4

      # Set Up Java JDK
      - name: Set up JAVA JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '18'
          cache: 'gradle'

      # Flutter environment for use in GitHub Actions
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.5'
          channel: 'stable'
          cache: true

      # Get dependencies of flutter
      - run: flutter pub get
      - run: flutter analyze .
      - run: flutter build apk --no-tree-shake-icons

      - name: Upload the build
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: build/app/outputs/apk/release/app-release.apk

#      - name: Remove Existing Directory
#        run: rm -rf build/
#
#      - name: Download Artifact
#        uses: actions/download-artifact@v4
#        with:
#          name: build
#          path: build/app/outputs/apk/release/app-release.apk

      # Slack Integration
      - name: Upload build to slack
        uses: MeilCli/slack-upload-file@v3
        with:
          slack_token: ${{secrets.SLACK_BOT_TOKEN}}
          channel_id: ${{ secrets.SLACK_CHANNEL_ID }}
          file_path: build/app/outputs/apk/release/app-release.apk
          initial_comment: 'post by slack-upload-file'

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        with:
          status: ${{ job.status }}
          text: "Build ${{ job.status }} for commit ${{ github.sha }} in branch ${{ github.ref }}."

        env:
          SLACK_CHANNEL: flutter-cicd
          SLACK_TITLE: Post title
          SLACK_USERNAME: nrup.parikh
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_MESSAGE: "New release app available. Please install it."
